<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>blank django project</title>
	{% block css %}
	{% endblock %}

	{% block head_scripts %}
	{% endblock %}
</head>
<body>
	<header>
		{% block header %}
		{% endblock %}
	</header>
	<div id="wrapper">
		{% if user.is_authenticated %}
    	<p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
		<p><a href="{% url 'logout' %}">Log Out</a></p>
		{% else %}
		<p></p><a href="{% url 'login' %}">Login</a></p>
		{% endif %}
		<p>session id: "{{ user.sessionid }}"</p>
    <br>
		{% block content %}
		{% endblock %}
	</div>
	<footer>
		{% block footer %}
		{% endblock %}
	</footer>

	{% block scripts %}
	{% endblock %}
</body>
</html>