{% extends "layout.html" %}

{% block content %}
<div class="container">
    QUESTION!!!
    <hr/>
    {{ question.pk }}<br>
    {{ question.title }}<br>
    {{ question.text }}<br>
    {{ question.author }}<br><br>
    <hr/>
    ANSWERS!!!
    <hr/>
    {% for answer in answers %}
    text: {{ answer.text }}<br>
    author: {{ answer.author }}<br>
    date: {{ answer.added_at }}<br><br>
    {% endfor %}
</div>

{% for e in form.non_field_errors %}
    <div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="POST" action="/question/{{ question.pk }}/">
    {% csrf_token %}
    <fieldset>
    {% for field in form %}
        <div class="control-group {% if field.errors %}has-error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
    {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
{% endblock content %}